* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url("/images/desktop/image-header.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header .header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .header__wrap .logo {
  padding: 15px;
}

header .header__wrap .dropdown {
  display: inline;
  margin-right: 15px;
}

header .header__wrap .dropdown .dropdown__content {
  display: inline;
}

header .header__wrap .dropdown .dropdown__content .header__components li {
  display: inline;
  padding: 5px;
  margin-left: 30px;
}

header .header__wrap .dropdown .dropdown__content .header__components li a {
  color: white;
}

header .header__wrap .dropdown .dropdown__content .header__components li .contact {
  color: black;
  background-color: white;
  border-radius: 35%;
  padding: 8px;
}

header .header__wrap .firsttitle {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100px;
  margin-left: calc(50% - 200px);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4vw;
}

@media (max-width: 800px) {
  header .header__wrap .firsttitle {
    padding: 5px 20px;
    max-width: 450px;
    margin-left: calc(50% - 225px);
  }
}

@media (max-width: 450px) {
  header .header__wrap .firsttitle {
    width: 100%;
  }
}

header .header__wrap .arrow {
  position: absolute;
  top: 200px;
  left: 50%;
}
