header {
    background-image: url("/images/desktop/image-header.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .header__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .logo {
            padding: 15px;
        }
        .dropdown {
            display: inline;
            margin-right: 15px;
            .dropdown__content {
                display: inline;
                .header__components li { 
                    display: inline;
                    padding: 5px;
                    margin-left: 30px;
                    a {
                        color: white;
                    }
                    .contact {
                        color: black;
                        background-color: white;
                        border-radius: 35%;
                        padding: 8px;
                    }
                }
            }
            
        }
        .firsttitle {
            position: absolute;
            display: flex;
            justify-content: center;
            top: 100px;
            margin-left: calc(50% - 200px);
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 4vw;
            @media (max-width: 800px) {
                padding: 5px 20px;
                max-width: 450px;
                margin-left: calc(50% - 225px);
            }
            @media (max-width: 450px) {
                width: 100%;
                
            }
        }
        .arrow {
            position: absolute;
            top: 200px;
            left: 50%;
        }
    }
}



